body{
  background-color: #303030;
  color: #ffffff;

}
#kod{
  font-size:20px;
  background-color: turquoise;
}
#cont{
  width:1000px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 70px;
  padding: 100px 250px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.tile1{
  background-color: #f44336;
}
.tile1:hover{
  background-color: #8b0000;
}
.tile2{
  background-color: #f44336;
}
.tile2:hover{
  background-color: #8b0000;
}
.service{
  background-color: blue;
}
.service:hover{
  background-color: lightblue;
}
a.tilelink
{
  color:#ffffff;
  text-decoration: none;
  display: block;
}
h2.inf1{
  display:inline;
  float:left;
}